@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: poppins, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    font-weight: bold;
}

#heading {
    font-weight : 900%;
    color : rgb(217, 216, 216);
}

.container {
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.btn {
    font-size: 3rem;
    border-radius: 16px;
    padding: 12px;
    background-color: #080078;    
    cursor: pointer;
    -webkit-transform: scaleX(2);
    transform: scaleX(-1);
    transition: background-color 0.5s ease;
}

.btn:hover {
    background-color: rgb(68, 7, 251);
    transform: rotate(90deg);   
}

.resetbtn {
    font-size: 13px;
    border-radius: 100px;
    padding: 14px 20px;
    background-color: rgb(255, 251, 0);
    font-weight: 900;
    margin: 30px;
    transition: background-color 0.5s ease;
}
.resetbtn:hover {
    background-color: rgb(128, 255, 108);
}

.scoreCard {
    display: flex;
    justify-content: center;
    gap: 3px;
    margin-top: 40px;
}

.leftCard { 
    width: 250px;
    color: rgb(214, 222, 221);
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.rightCard {
    font-size: 14px;
    color: rgb(16, 9, 70);
    width: 120px;
}
.intro {
    color: rgb(16, 9, 70);
    text-align: center;
    margin-left: 80px;
    font-style: italic;
}

.tagline {
    color: rgb(196, 194, 194);
    margin-bottom: 20px;
}